MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=flashcards
MYSQL_USER=flashuser
MYSQL_PASSWORD=flashpassword
MYSQL_ROOT_PASSWORD=password
API_PORT=8081
BACKEND_URL=http://localhost:8081
JWT_SECRET=super-secret-key
JWT_EXPIRATION=86400000
SONAR_TOKEN=yourtoken
DOCKER_USER=yourname
DOCKER_HUB_CREDENTIAL_ID=Docker_Hub